<div id="team" class="row marginbottom20">
         <div class="col-sm-3"><img src="{{file_url(paragraph.field_image.entity.fileuri)}}" width="100%"></div>
         <div class="col-sm-9">
         <h4 class="dark-blue marginbottom20">{{paragraph.field_member_name.value}}</h4>
         <h4 class="dark-grey marginbottom20">{{paragraph.field_member_position.value}}</h4>
         <p class="dark-blue">{{paragraph.field_member_.value}}</p>
         </div>
</div>
