{#
/**
 * @file
 * Default theme implementation to display a view of unformatted rows.
 *
 * Available variables:
 * - title: The title of this group of rows. May be empty.
 * - rows: A list of the view's row items.
 *   - attributes: The row's HTML attributes.
 *   - content: The row's content.
 * - view: The view object.
 * - default_row_class: A flag indicating whether default classes should be
 *   used on rows.
 *
 * @see template_preprocess_views_view_unformatted()
 *
 * @ingroup themeable
 */
#}
{% set count = rows | length %}
{% if title %}
  <h3>{{ title }}</h3>
{% endif %}
{% for row in rows %}
  {%
    set row_classes = [
      default_row_class ? 'views-row',
    ]
  %}
  <div{{ row.attributes.addClass(row_classes) }}>
    {{- row.content -}}
  </div>
  {% if count == 2 %}
    <div class="col-md-4">
      <div class="boxes3 border-grey text-center">
        <img src="sites/all/themes/ataplusv2/img/coming-soon.png">
            <div class="insider">
                    <div class="deal-title">
                      <span class="fontmedium2 black btn-reg">Watch This Space!</span>
                    </div>
                    <div class="deal-excerpt"><p class="text-left p-desc">We have plenty of attractive deals brewing in the pipeline.
                Check our page for more lucrative investment opportunities that you can invest in!</p>
                    </div>
            </div>
        </div>
    </div>
    {% elseif count == 1 %}
    <div class="col-md-4">
      <div class="boxes3 border-grey text-center">
        <img src="sites/all/themes/ataplusv2/img/coming-soon.png">
            <div class="insider">
                    <div class="deal-title">
                      <span class="fontmedium2 black btn-reg">Watch This Space!</span>
                    </div>
                    <div class="deal-excerpt"><p class="text-left p-desc">We have plenty of attractive deals brewing in the pipeline.
                Check our page for more lucrative investment opportunities that you can invest in!</p>
                    </div>
            </div>
        </div>
    </div>
    <div class="col-md-4">
      <div class="boxes3 border-grey text-center">
        <img src="sites/all/themes/ataplusv2/img/sneek-peek.png">
            <div class="insider">
                    <div class="deal-title">
                      <span class="fontmedium2 black btn-reg">Watch This Space!</span>
                    </div>
                    <div class="deal-excerpt"><p class="text-left p-desc">We have plenty of attractive deals brewing in the pipeline.
                Check our page for more lucrative investment opportunities that you can invest in!</p>
                    </div>
            </div>
        </div>
    </div>
    {% endif %}
{% endfor %}