/**
 * @file
 * The .admin.css file is intended to only contain positioning and size
 * declarations. For example: display, position, float, clear, and overflow.
 */
@import "../variables";

.views-admin {
  ul,
  menu,
  dir {
    padding: 0;
  }
  pre {
    margin-bottom: 0;
    margin-top: 0;
    white-space: pre-wrap;
  }
}
.views-left-25 {
  float: left; /* LTR */
  width: 25%;

  [dir="rtl"] & {
    float: right;
  }
}
.views-left-30 {
  float: left; /* LTR */
  width: 30%;

  [dir="rtl"] & {
    float: right;
  }
}
.views-left-40 {
  float: left; /* LTR */
  width: 40%;

  [dir="rtl"] & {
    float: right;
  }
}
.views-left-50 {
  float: left; /* LTR */
  width: 50%;

  [dir="rtl"] & {
    float: right;
  }
}
.views-left-75 {
  float: left; /* LTR */
  width: 75%;

  [dir="rtl"] & {
    float: right;
  }
}
.views-right-50 {
  float: right; /* LTR */
  width: 50%;

  [dir="rtl"] & {
    float: left;
  }
}
.views-right-60 {
  float: right; /* LTR */
  width: 60%;

  [dir="rtl"] & {
    float: left;
  }
}
.views-right-70 {
  float: right; /* LTR */
  width: 70%;

  [dir="rtl"] & {
    float: left;
  }
}
.views-group-box .form-item {
  margin-left: 3px;
  margin-right: 3px;
}

/*
 * The attachment details section, its tabs for each section and the buttons
 * to add a new section
 */
.views-displays {
  clear: both;

  /* The tabs that switch between sections */
  .tabs {
    border-bottom: 0 none;
    margin: 0;
    overflow: visible;
    padding: 0;

    > li {
      border-right: 0 none; /* LTR */
      float: left; /* LTR */
      padding: 0;

      [dir="rtl"] & {
        float: right;
        border-left: 0 none;
        border-right: 1px solid #bfbfbf;
      }
    }
    .open > a {
      position: relative;
      z-index: 51;
    }
    .views-display-deleted-link {
      text-decoration: line-through;
    }
    .add {
      position: relative;
    }
    .action-list {
      @include paper-box-shadow-raised($form-border);
      left: 0; /* LTR */
      margin: 0;
      position: absolute;
      top: 25px;
      z-index: 100;

      [dir="rtl"] & {
        left: auto;
        right: 0;
      }
    }
    .action-list li {
      display: block;
    }
  }
}

.views-display-deleted > details > summary,
.views-display-deleted .details-wrapper > .views-ui-display-tab-bucket > *,
.views-display-deleted .views-display-columns {
  opacity: 0.25;
}
.views-display-disabled > details > summary,
.views-display-disabled .details-wrapper > .views-ui-display-tab-bucket > *,
.views-display-disabled .views-display-columns {
  opacity: 0.5;
}
.views-display-tab .details-wrapper > .views-ui-display-tab-bucket .actions {
  opacity: 1.0;
}
.views-display-column {
  box-sizing: border-box;
  box-shadow: none;

  > summary {
    background: transparent;
    box-shadow: none;
    color: $color_text;
    padding-top: 0;
    padding-bottom: 0;
  }
  .details-wrapper {
    border: none;
    padding: 0;
  }
}

@include media-breakpoint-up(lg) {
  .views-display-column.third {
    border-right: none;
    margin-right: 0;
    padding-right: 0;
  }
  .views-display-columns > * {
    float: left; /* LTR */
    margin-bottom: 0;
    width: calc((100% - 2em) / 3);

    [dir="rtl"] & {
      float: right;
    }
  }
  .views-display-columns > *:first-child {
    margin-left: 0; /* LTR */

    [dir="rtl"] & {
      margin-right: 0;
    }
  }
}

.views-filterable-options-controls {
  display: none;
}
.views-ui-dialog {
  .scroll {
    overflow: auto;
    padding: 1em;
  }
  .views-filterable-options-controls {
    display: inline;
  }

  /* Don't let the messages overwhelm the modal */
  .views-messages {
    max-height: 200px;
    overflow: auto;
  }
}
.views-display-setting .label,
.views-display-setting .views-ajax-link {
  float: left; /* LTR */

  [dir="rtl"] & {
    float: right;
  }
}
.form-item-options-value-all {
  display: none;
}
.js-only {
  display: none;
}
html.js .js-only {
  display: inherit;
}
html.js span.js-only {
  display: inline;
}
.js .views-edit-view .dropbutton-wrapper {
  width: auto;
}
